#jwdpv0001-plg-type {
    color:#fff;
    background-color:#FFCC00;
    padding:0 7px; 
    border-radius: 3px; 
    box-shadow: 1px 1px 5px #555;
}

#jwdpv0001-credits {
    h3.creds {
        margin-bottom:10px;
    } 
    .creds-container {
        padding:10px;
        margin-bottom: 3px;
        border:1px solid #aaa;
        max-width:350px;        
        p.creds{
            margin:0;
            padding:0;
            font-weight: bold;
        } 
        p.creds > a {
            text-decoration: none;
        }
    }
}

#jwdpv0001-admin-page {
    .success{
        background-color:#009900;
        border-bottom:3px solid #006600
    }
    .warning{
        background-color:#EE7600;
        border-bottom:3px solid #a65200
    }
}

#jwdpv0001-go-pro-container {
    padding:8px; 
    background-color: #fff; 
    border-bottom:3px solid #FFCC00;
    font-size: 1.2em;
    line-height: 1.5em
}

#jwdpv0001-message-box {
    color:#fff;
    padding:4px 15px;
    p {
        margin:0;
        padding:0;
        font-weight: bold
    }
}

#jwdpv0001-verses-table  {
   .day , .vnum {
        width:150px;
    }    
}

#jwdpv0001-custom-version {
    width:100%;
    min-height:90px;
}

#bible-book-links {
    display: inline;
    
    margin-right:20px;
}

.clearfix {
    float:none;
    clear: both;
}

#jwdpv0001-bop-head {
    margin-top: 30px;
    padding:20px;
    background: #fff;
    border:1px solid #e5e5e5;
    
    box-shadow: inset 0px 0px 3px #000;
    h2 {
        padding:0px;
        margin:0px;
    }
}

#jwdpv0001-bop {
    
    border-top: none;
    
    tr > td.chlinks {
        width:150px !important;
    }
    
    ul li {
        a {
            padding:4px 0;
        }
    }
    
}

#jwdpv0001-bop #bible-book-container {
    position:relative;
    p {
        position:relative;
    }
    .verse-left {
        text-align: left;
        .vnum {
            position: relative;
            display: inline-block;
            left:0px;
            font-weight: bold;
        }
    }
    
    .verse-right {
        text-align: right;
        .vnum {
            display: inline-block;
            right:0px;
            font-weight: bold;
        }
    }
}